.container {
  padding-left: 1.75em;
  padding-right: 1.75em;
  margin-right: auto;
  margin-left: auto;
}
.sidebar-container {
  color: #bfbfbf;
  font-size: 14px;
}

.sidebar-container h5 {
  color: #808080;
  padding-bottom: 1em;
  text-transform: uppercase
}

.sidebar-container h5 a {
  color: #808080 !important;
  text-decoration: none;
}

.sidebar-container a {
  color: #bfbfbf !important;
}

.sidebar-container a:hover,
.sidebar-container a:active {
  color: #4969ed !important;
}

.sidebar-container .short-about img {
  width: 80%;
  display: block;
  border-radius: 5px;
  margin-bottom: 20px;
}

.sidebar-container .short-about p {
  margin-top: 0px;
  margin-bottom: 20px;
}

.sidebar-container .short-about .list-inline>li {
  padding-left: 0px;
}

body {
  font-family: Inter,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";
  -webkit-font-smoothing: antialiased;
  color: #555;
  font-size: 16px;
  overflow-x: hidden;
  overflow-y: overlay;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Inter,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";
  -webkit-font-smoothing: antialiased;
  line-height: 1.1;
  font-weight: bold;
}

.h1, h1 {
  color: #222;
  font-weight: 700;
  font-size: 1.5em;
  margin-top: 2em;
  margin-bottom: 1em;
  line-height: 1.3333333
}

.h2, h2 {
  color: #222;
  font-weight: 600;
  font-size: 1.25em;
  margin-top: 1.6em;
  margin-bottom: .6em;
  line-height: 1.6;
}

.h3, h3 {
  color: #222;
  font-weight: 600;
  font-size: 1.15em;
  margin-top: 1.5em;
  margin-bottom: .5em;
  line-height: 1.5
}

.p, p {
  font-weight: 500;
  line-height: 1.75;
  font-size: 1em;
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}

.post-container ul, .post-container ol {
  font-weight: 500;
  line-height: 1.75;
  font-size: 1em;
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}

ol li {
  list-style: none;
}

.post-container li {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

#tag_cloud a {
  cursor: pointer;
  font-weight: 500;
  border-style: none;
  font-size: 26px;
  line-height: 2.25em;
  margin-right: 0.5em;
}

@media only screen and (min-width: 840px) {
  #tag_cloud a {
    font-size: 26px;
  }
}
#sidebar {
  visibility: hidden;
}
@media only screen and (min-width: 1000px) {
  #sidebar {
    visibility: visible;
    display: inline-block;
    white-space: nowrap;
    position: fixed;
    float: right;
    margin-top: auto;
    top: 140px;
  }
  
  .toc-nav-level-1,
  .toc-nav-level-2,
  .toc-nav-level-3,
  .toc-nav-level-4 {
    font-weight: 500;
    line-height: 2;
    font-size: 16px;
  }
  
  .toc-nav-level-1 {
    font-weight: 800;
    font-size: 18px;
  }
}

a:focus, a:hover, a {
  color: black;
  text-decoration: none;
}

.post-container p a,
.post-container li a, 
.copyright a
{
  color: black;
  font-weight: inherit;
  text-decoration: none;
  border-bottom: 1px solid rgba(125,125,125,.3);
  transition: border .3s ease-in-out;
}

.post-container p a:focus,
.post-container p a:hover,
.post-container li a:focus,
.post-container li a:hover,
.copyright a:focus, 
.copyright a:hover
{
  color: black;
  text-decoration: none;
  border-bottom: 1px solid black;
}

a h2, 
a h3, 
a div,
#tag_cloud a,
.toc-nav a
{
  opacity: 0.6;
  transition: opacity .3s ease-in-out;
  text-decoration: none;
}

a:focus h2, a:hover h2, 
a:focus h3, a:hover h3, 
a:focus div, a:hover div,
#tag_cloud a:focus, 
#tag_cloud a:hover, 
#tag_cloud a:hover,
.toc-nav a:focus,
.toc-nav a:hover
{
  opacity: 1;
  text-decoration: none;
}

#tag_cloud a {
  color: #222;
}

#tag_cloud .focus {
  opacity: 1;
}

a img:hover,
a img:focus {
  cursor: pointer;
}

.navbar-brand > img {
  display: inline;
  width: fit-content;
  position: absolute;
  height: 20px;
}
.navbar-header {
  position: absolute;
}
.navbar-right {
  float: right!important;
  margin-right: 0px;
}
.navbar-nav {
  margin: 0px;
}
.navbar-nav>li {
  float: left;
}
.navbar-collapse {
  border: none;
}
article {
  overflow-x: hidden;
  overflow: hidden;
}

blockquote {
  font-weight: 500;
  font-style: normal;
  font-size: 1em;
  line-height: 1.5em;
  padding: 0.6em 1.2em;
  opacity: .8;
}

blockquote p {
  margin: 0;
}

small.img-hint {
  display: block;
  margin-top: -20px;
  text-align: center;
}

br+small.img-hint {
  margin-top: -40px;
}

img.shadow {
  box-shadow: rgba(0, 0, 0, 0.258824) 0px 2px 5px 0px;
}

@media screen and (max-width: 768px) {
  select {
    -webkit-appearance: none;
    margin-top: 15px;
    color: #337ab7;
    border-color: #337ab7;
    padding: 0em 0.4em;
    background: white;
  }
}

select {
  -webkit-appearance: none;
  margin-top: 15px;
  color: #337ab7;
  border-color: #337ab7;
  padding: 0 .4em;
  background: #fff;
}

select.sel-lang {
  min-height: 28px;
  font-size: 14px;
}

.table th,
.table td {
  border: 1px solid #eee !important;
}

hr.small {
  max-width: 100px;
  margin: 15px auto;
  border-width: 4px;
  /*border-color: white;*/
}

pre,
.table-responsive {
  -webkit-overflow-scrolling: touch;
}

pre code {
  display: block;
  width: auto;
  white-space: pre;
  word-wrap: normal;
}

.navbar-custom {
  background: none;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  /* Hux learn from
     *     TypeIsBeautiful,
     *     [This Post](http://zhuanlan.zhihu.com/ibuick/20186806) etc.
     */
  font-family: -apple-system, "Helvetica Neue", "Arial", "PingFang SC", "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif;
  line-height: 1.7;
}

.header-bar {
  height: 7.5em;
}

.navbar-custom .nav li a, 
.navbar-brand {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 30px 15px;
}
.intro-header {
  background: no-repeat center center;
  background-color: #ffffff;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  margin-bottom: 0px;
  /* modify by Yu-Hsuan Yen */
}
.intro-header .site-heading,
.intro-header .post-heading,
.intro-header .page-heading {
  padding: 25px 0 20px;
  color: #404040;
}

.intro-header .site-heading {
  padding: 70px 0 60px;
}

@media only screen and (min-width: 768px) {
  .intro-header .site-heading {
    padding: 120px 0;
  }
}
.tag-header {
  padding: 55px 0 30px;
}
@media only screen and (min-width: 840px) {
  .tag-header {
    padding: 55px 0;
  }
}
.intro-header .site-heading,
.intro-header .page-heading {
  text-align: center;
}

.intro-header .site-heading h1,
.intro-header .page-heading h1 {
  margin-top: 0;
  font-size: 50px;
}

.intro-header .site-heading .subheading,
.intro-header .page-heading .subheading {
  /* Hux learn from
     *     TypeIsBeautiful,
     *     [This Post](http://zhuanlan.zhihu.com/ibuick/20186806) etc.
     */
  font-family: -apple-system, "Helvetica Neue", "Arial", "PingFang SC", "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif;
  line-height: 1.7;
  font-size: 18px;
  line-height: 1.1;
  display: block;
  font-weight: 300;
  margin: 10px 0 0;
}

@media only screen and (min-width: 768px) {

  .intro-header .site-heading h1,
  .intro-header .page-heading h1 {
    font-size: 80px;
  }
}

.intro-header .post-heading h1 {
  color: black;
  font-weight: 800;
  font-size: 2.25em;
  margin-top: 0;
  margin-bottom: 0.9em;
  line-height: 1.1;
}

.intro-header .post-heading .subheading,
.intro-header .post-heading .meta {
  line-height: 1.1;
  display: block;
}

.intro-header .post-heading .subheading {
  /* Hux learn from
     *     TypeIsBeautiful,
     *     [This Post](http://zhuanlan.zhihu.com/ibuick/20186806) etc.
     */
  font-family: -apple-system, "Helvetica Neue", "Arial", "PingFang SC", "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif;
  line-height: 1.7;
  font-size: 17px;
  line-height: 1.4;
  font-weight: normal;
  margin: 10px 0 20px;
  margin-top: -5px;
}

.intro-header .post-heading .meta {
  font-weight: 300;
  font-size: 16px;
}

.blank_box {
  width: 100%;
  height: 10px;
}

.intro-header .post-heading .meta a {
  color: white;
}

.post-preview>a {
  color: #404040;
}

.post-preview>a:hover,
.post-preview>a:focus {
  text-decoration: none;
  color: #4969ed;
}

.post-preview>a>.post-title {
  font-size: 18px;
  line-height: 1.3;
  margin-top: 8px;
  margin-bottom: 8px;
}

.post-preview>a>.post-subtitle {
  font-size: 14px;
  line-height: 1.3;
  margin: 0;
  font-weight: 300;
  margin-bottom: 10px;
}

.post-preview>.post-meta {
  color: #a3a3a3;
  font-size: 13px;
  line-height: 1.3;
  margin: 0;
  font-weight: 300;
  margin-top: 4px;
}

.post-preview>.post-meta>a {
  text-decoration: none;
  color: #404040;
}

.post-preview>.post-meta>a:hover,
.post-preview>.post-meta>a:focus {
  color: #4969ed;
  text-decoration: underline;
}

@media only screen and (min-width: 768px) {
  .post-preview>a>.post-title {
    font-size: 22px;
    line-height: 1.3;
    margin-bottom: 10px;
  }

  .post-preview>a>.post-subtitle {
    font-size: 14px;
  }

  .post-preview .post-meta {
    font-size: 15px;
  }
}

.post-content-preview {
  font-size: 12px;
  opacity: 0.8;
  margin-top: 0.5em;
}
@media only screen and (min-width: 768px) {
  .post-content-preview {
    font-size: 14px;
  }
}

.section-heading {
  font-size: 36px;
  margin-top: 60px;
  font-weight: 700;
}

.caption {
  text-align: center;
  font-size: 14px;
  padding: 10px;
  font-style: italic;
  margin: 0;
  display: block;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

footer {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

footer .list-inline {
  margin: 0;
  padding: 0;
}
footer .copyright {
  font-size: 14px;
  text-align: left;
  margin-bottom: 0;
}
.floating-label-form-group {
  font-size: 14px;
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #eeeeee;
}

.floating-label-form-group input,
.floating-label-form-group textarea {
  z-index: 1;
  position: relative;
  padding-right: 0;
  padding-left: 0;
  border: none;
  border-radius: 0;
  font-size: 1.5em;
  background: none;
  box-shadow: none !important;
  resize: none;
}

.floating-label-form-group label {
  display: block;
  z-index: 0;
  position: relative;
  top: 2em;
  margin: 0;
  font-size: 0.85em;
  line-height: 1.764705882em;
  vertical-align: middle;
  vertical-align: baseline;
  opacity: 0;
  -webkit-transition: top 0.3s ease, opacity 0.3s ease;
  -moz-transition: top 0.3s ease, opacity 0.3s ease;
  -ms-transition: top 0.3s ease, opacity 0.3s ease;
  transition: top 0.3s ease, opacity 0.3s ease;
}

.floating-label-form-group::not(:first-child) {
  padding-left: 14px;
  border-left: 1px solid #eeeeee;
}

.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1;
}

.floating-label-form-group-with-focus label {
  color: #4969ed;
}

form .row:first-child .floating-label-form-group {
  border-top: 1px solid #eeeeee;
}

.btn {
  /* Hux learn from
     *     TypeIsBeautiful,
     *     [This Post](http://zhuanlan.zhihu.com/ibuick/20186806) etc.
     */
  font-family: -apple-system, "Helvetica Neue", "Arial", "PingFang SC", "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif;
  line-height: 1.7;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 1px;
  border-radius: 0;
  padding: 15px 25px;
}

.btn-lg {
  font-size: 16px;
  padding: 25px 35px;
}

.btn-default:hover,
.btn-default:focus {
  background-color: #4969ed;
  border: 1px solid #4969ed;
  color: white;
}

.pager {
  margin: 20px 0 0 !important;
  padding: 0px !important;
}

.pager .disabled>a,
.pager .disabled>a:hover,
.pager .disabled>a:focus,
.pager .disabled>span {
  color: #808080;
  background-color: #404040;
  cursor: not-allowed;
}

::-moz-selection {
  color: white;
  text-shadow: none;
  background: #4969ed;
}

::selection {
  color: white;
  text-shadow: none;
  background: #4969ed;
}

img::selection {
  color: white;
  background: transparent;
}

img::-moz-selection {
  color: white;
  background: transparent;
}

body {
  webkit-tap-highlight-color: #4969ed;
}

#tag-heading {
  padding: 70px 0 60px;
}

@media only screen and (min-width: 768px) {
  #tag-heading {
    padding: 55px 0;
  }
}
.tag-comments {
  font-size: 12px;
}

@media only screen and (min-width: 768px) {
  .tag-comments {
    font-size: 14px;
  }
}

.t:first-child {
  margin-top: 0px;
}

.listing-seperator {
  height: 80px;
}

.mini-post-list .tag-text {
  font-weight: 800;
  font-family: Inter,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";
  line-height: 1.75;
  top: -32px;
  left: -28px;
  font-size: 128px;
  opacity: .08;
  position: relative;
}

.mini-post-list .post-preview {
  position: relative;
}

.mini-post-list .post-preview>a .post-title {
  font-size: 18px;
  font-weight: 500;
  margin-top: 8px;
  margin-bottom: 24px;
}

.mini-post-list .post-preview>a .post-subtitle {
  font-size: 14px;
}

.mini-post-list .post-preview>.post-meta {
  position: absolute;
  right: 5px;
  bottom: 0px;
  margin: 0px;
  font-size: 12px;
  line-height: 12px;
}

@media only screen and (min-width: 768px) {

  .mini-post-list .post-preview>a>.post-title {
    font-size: 18px;
    line-height: 1.3;
  }

  .mini-post-list .post-preview>a>.post-subtitle {
    font-size: 14px;
  }

  .mini-post-list .post-preview .post-meta {
    font-size: 18px;
  }
}

/* Tags support End*/
/* Hux make all img responsible in post-container */
.post-container p > img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 1.5em auto 1.6em auto;
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, .5);
  -moz-box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, .5);
  -webkit-box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, .5);
}

.post-container a img {
  height: 15px;
  margin-top: 2px;
  margin-left: 1px;
  margin-right: 2px;
  vertical-align: text-top;
}

/* Hux Optimize UserExperience */
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: inherit;
}

.navbar-default .navbar-toggle:active {
  background-color: rgba(255, 255, 255, 0.25);
}

/* Hux customize Style for navBar button */
.navbar-default .navbar-toggle {
  border-color: transparent;
  padding: 19px 16px;
  margin-top: 2px;
  margin-right: 2px;
  margin-bottom: 2px;
  border-radius: 50%;
}

.navbar-default .navbar-toggle .icon-bar {
  width: 18px;
  border-radius: 0px;
  background-color: #404040;
}

.navbar-default .navbar-toggle .icon-bar+.icon-bar {
  margin-top: 3px;
}

/* Hux customize Style for Duoshuo */
.comment {
  margin-top: 20px;
}

.comment #ds-thread #ds-reset a.ds-like-thread-button {
  border: 1px solid #ddd;
  border-radius: 0px;
  background: white;
  box-shadow: none;
  text-shadow: none;
}

.comment #ds-thread #ds-reset li.ds-tab a.ds-current {
  border: 1px solid #ddd;
  border-radius: 0px;
  background: white;
  box-shadow: none;
  text-shadow: none;
}

.comment #ds-thread #ds-reset .ds-textarea-wrapper {
  background: none;
}

.comment #ds-thread #ds-reset .ds-gradient-bg {
  background: none;
}

#ds-smilies-tooltip ul.ds-smilies-tabs li a {
  background: white !important;
}

.page-fullscreen .intro-header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.page-fullscreen #tag-heading {
  position: fixed;
  left: 0;
  top: 0;
  padding-bottom: 150px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  -webkit-flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.page-fullscreen footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding-bottom: 20px;
  opacity: 0.6;
  color: #fff;
}

.d-none {
  display: none !important;
}