:root {
  --main-color: #CCE4F7;
}

.body--light {
  /* Common color */
  --common-color: #111;
  --background-color: rgb(245, 245, 245);
  --background-color-down: rgb(228, 228, 245);
  --background-image: url(images/grid-light.svg);
  --direction-color: #e6e6e6;
  --navbar-color: #000;
  --active-color: rgb(0, 120, 255);
  --navbar-background-color: rgba(245, 245, 245, 0.533);
  --navbar-border-color: rgba(0, 0, 0, 0.067);

  --h1-color: rgb(0, 120, 255);
  --h2-color: rgb(0, 85, 179);
  --h3-color: rgb(0, 60, 128);
  --h4-color: rgb(0, 42, 89);
  --h5-color: rgb(0, 30, 64);

  --underline-color: rgb(162, 206, 255);
  --underline-color-dark: rgb(0, 120, 255);
  --logo-color: invert(0%)
}

.body--dark {
  /* Common color */
  --common-color: #eee;
  --background-color: rgb(10, 10, 10);
  --background-color-down: rgb(3, 4, 6);
  --background-image: url(images/grid-dark.svg);
  --direction-color: #161d27;
  --navbar-color: #fff;
  --active-color: rgb(255, 201, 71);
  --navbar-background-color: rgba(5, 5, 5, 0.533);
  --navbar-border-color: rgba(255, 255, 255, 0.067);

  --h1-color: rgb(255, 201, 71);
  --h2-color: rgb(230, 160, 50);
  --h3-color: rgb(210, 130, 30);
  --h4-color: rgb(190, 100, 10);
  --h5-color: rgb(170, 70, 0);

  --underline-color: rgb(74, 83, 97);
  --underline-color-dark: rgb(58, 75, 100);
  --logo-color: invert(100%)
}

body,
.search-page {
  color: var(--common-color);
  background-color:  var(--background-color);
}

/* .background-box {
  background: linear-gradient(var(--background-color), var(--background-color-down)), url(images/noise.png);
  background-attachment: fixed;
} */

.search-page #search-input {
  background-color: transparent
}

a,
.navbar-custom .nav li a,
.search-icon a,
.search-icon-close,
.mode-icon a {
  color: var(--navbar-color);
}

a:focus,
a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:hover {
  color: var(--active-color);
}

.post-container a {
  border-color: var(--common-color);
}

.post-container a:focus,
.post-container a:hover {
  border-color: var(--active-color);
}

#tag_cloud .focus {
  color: var(--navbar-color);
}

#tag_cloud a:focus,
#tag_cloud a:hover {
  color: var(--common-color);
}

.intro-header .post-heading h1,
.intro-header .post-heading h2,
.intro-header .post-heading span {
  color: var(--common-color);
}

hr {
  border-color: var(--direction-color);
}

.navbar-custom {
  background: var(--navbar-background-color);
  border-color: var(--navbar-border-color);
}

blockquote {
  border-color: var(--underline-color-dark);
}

.post-container h1 {
  color: var(--h1-color);
}

.post-container h2 {
  color: var(--h2-color);
}

.post-container h3 {
  color: var(--h3-color);
}

.post-container h4 {
  color: var(--h4-color);
}

.fancy-undeline {
  background-image: linear-gradient(120deg, var(--underline-color-dark),var(--underline-color) 100%);
}

.navbar-brand>svg {
  filter: var(--logo-color)
}